<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello, <span th:text="${fullName}"></span>!
</p>

<p>
    You have successfully purchased tickets at
    <span th:text="${date}"></span>, <span th:text="${time}">
</p>
<p>Tickets</p>
<ul th:remove="all-but-first">
    <tr th:each="ticket : ${tickets}">
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div>
                            <img
                                    th:src="@{'http://localhost:8080/api/attachment-contents/data/'+${ticket.id}}"
                                    class="img-fluid rounded-3" alt="ticket" style="width: 65px;">
                        </div>
                        <h5 th:text="${ticket.movieName}"></h5>
                        <div class="ms-3">
                            Hall:
                            <td th:text="${ticket.hallName}"></td>
                            Row:
                            <td th:text="${ticket.rowNumber}"></td>
                            Seat:
                            <td th:text="${ticket.seatNumber}"></td>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <div style="width: 80px;">
                            <h5 class="mb-0" th:text="${ticket.price} " $></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </tr>
</ul>
<p>
    Regards, <br/>
    <em>The Sevinch cinema company!</em>
</p>
</body>
</html>